<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://zoff.me/apps/tv" version="0.1.10" viewmodes="maximized">
  <tizen:application id="ZoffMusic.ZoffTV" package="ZoffMusic" required_version="5.5" />
  <content src="tizen.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <access origin="*" subdomains="true" />
  <name>Zoff TV</name>
  <icon src="icon.png" />
  <tizen:profile name="tv-samsung" />
</widget>
